/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }

.btn btn-danger{
    border-radius: 0px !important;
}

.collectionIcon {
  width:100%;
  height:100%;

}

.collectionText {
  
  font-size: 150%;
  letter-spacing: 2px;

}



html,
body {
  background-color: #181818;
  width: 100%;
  height: 100vh;
  margin-bottom: 100px;
  background-repeat: no-repeat;
  background-position: center; 
}

.header {
  width: 100%;
  background-color: #181818;
  padding-top: 20px;
  padding-bottom: 20px;

}

.logo {
  width: 25px;
  height: 25px;
  overflow: none;
}
 
.content {
  padding-top: 20px;
  padding-bottom: 20px;
  /*min-height: 100%;*/
  /*height: auto !important;*/
  /*height: 100%;*/
  /* Negative indent footer by it's height */
  /*margin: 0 auto -60px;*/
  overflow: hidden;
}

/* Set the fixed height of the footer here */
/*.push,
.footer {
  height: 60px;
}
.footer {
  background-color: #eee;
}


@media (max-width: 1200px) {
.footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}*/

/*.footer {

position: fixed;
  width: 100%;
  bottom: 0;

}*/


.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}


/* Yvonne */

#select {
    image-source:"item.volumeInfo.imageLinks.thumbnail";
    width: 200px;
    height: 200px;

}

/*drag and drop */
.danger {
    background-color: #d9534f;
}

.primary {
    background-color: #337ab7;
}

.warning {
    background-color: #f0ad4e;
}

.success {
    background-color: #5cb85c;
}

